<h1>PinFees#read_feed</h1>
<p>Find me in app/views/pin_fees/read_feed.html.erb</p>


<%#= read_feed(nil, nil, nil) %>

<%= @feed_time    %>
<%= @last_contest %>
<%= @last_game    %>

<br />
Events:
<br />

<%= @events %>



